<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bluetooth2"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:id="@+id/app"
        android:name=".App"
        android:icon="@drawable/ic_refillme_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:title="@string/app_name"
        tools:ignore="MissingTvBanner">
        <activity android:name=".Paid"></activity>
        <activity
            android:name=".Payment"
            android:label="@string/payment_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Quantity"
            android:label="@string/quantity_activity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Qrcode"
            android:label="@string/payByQR"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".RahmetSenim"
            android:label="@string/payByApp"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <uses-sdk android:targetSdkVersion="28" />

</manifest>